<html>
	<head>
		<title>HTML Online Editor Sample</title>
	</head>
	<body>
	<% 3.times do %>.
		<h3>
			<%= xa = 0 %></h3>
		<p>
			<img alt="" src="http://f0.bcbits.com/img/a0375429510_8.jpg" style="width: 124px; height: 124px;" /></p>
		<h3>
			Banda: <%=breakfast[0] %> <br />

		<%= breakfast[:x] = breakfast[:x] + 1 %> <%= xa = xa + 1 %>
	<% end %>
</html>

