<!DOCTYPE html> 
<html> <body> <center> <h1>Chiqui chiqui <p>
	 <img border="10" img src="http://i1.ytimg.com/vi/svBonkNlmAY/hqdefault.jpg" alt="chiqui chiqui" width="400" height="350">
	  <p> 
	  
	  <form action="/buscando" method="post"> <input type="text" name="elemento" size="40" ><br> 
	  <input type="submit" value="Buscar"> </form> </body> 
	  
	  
	  </html>
